html,body {
  height: 100%;
  font-family: 'lato';
}

header {
  background-image: url('../images/intro5.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

.centerheader {
  position: relative;
  top: 35%;
}

h2, h3 {
  color: #34495E;
}

.credit p {
  color: #34495E;
}

.whitetitle {
  color: white;
}

.buttonvert {
  text-decoration: none;
  color: white;
  border: 1px solid #1ABC9C;
  background-color: #1ABC9C;
  padding: 7px 12px;
  border-radius: 5px;
}

.buttonvert2 {
  text-decoration: none;
  color: white;
  border: 1px solid #1ABC9C;
  background-color: #1ABC9C;
  padding: 7px 50px;
}

.buttonvert2:hover {
  color: white;
  text-decoration: underline;
}

.divmarg {
  margin-bottom: 30px;
}

.buttonblue {
  text-decoration: none;
  color: white;
  border: 1px solid #3498DB;
  background-color: #3498DB;
  padding: 7px 12px;
  border-radius: 5px;
}

.whatis p {
  color: black;
  opacity: 0.4;
}

.greyclair {
  color: black;
  opacity: 0.4;
}

.greyfonce {
  color: black;
  opacity: 0.6;
}

h1 {
  margin: 0;
  color: white;
}

.flechebas {
  margin-top: 15%;
}

header h2 {
  color: white;
}

header a {
  text-decoration: none;
  color: white;
}

.buttontwitter {
  border: 1px solid #498FBD;
  border-radius: 5px;
  background-color: #498FBD;
  padding: 7px 10px;
}

.sdbutton {
  border: 1px solid white;
  background-color: #49535D;
  border-radius: 5px;
  padding: 7px 15px;
}

.navleft {
  text-align: center;
}

nav {
  background-color: #ECF0F1;
}

#sidebar {
  z-index: 2;
}

nav a {
  margin-right: 1em;
  font-size: 1.6em;
  line-height: 2em;
  color: #4C5F71;
  text-decoration: none;
}

nav a:hover {
  color: #4C5F71;
}

.fst1, .snd2 {
  text-align: center;
}

.whatis2 {
  background-color: #F8F8F8;
}


.whatis h3 {
  margin-top: 40px;
}

.fontawe {
  background-color: #F8F8F8;
}

.screenapp img {
  max-width: 100%;
}

.getlive {
  background-color: #34495E;
  padding: 5em;
}

.credit {
  background-color: #F8F8F8;
}

.downloadfree {
  background-image:  url("/images/banner-bg.jpg");
  padding: 6em;
  background-position: center;
}

.downloadfree h2, a {
  color: white;
}

.titlesecti {
  font-size: 4em;
  margin-bottom: 0.5em;
}

.downloadfree a {
  text-decoration: none;
  background-color: #324C63;
  padding: 7px 12px;
  border-radius: 5px;
}

.downloadfree a:hover {
  color: white;
  text-decoration: none;
}

.btncont {
  border: 1px solid #18AD90;
  background-color: #18AD90;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 0.6em;
}

.btncont:hover {
  color: white;
  text-decoration: none;
}

.ofice a {
  text-decoration: none;
  color: #34495E;
}

footer {
  background-color: #EDEFF1;
  margin-top: 2em;
}

.bacblu {
  background-color: #34495E;
}

.bacblu a:hover {
  text-decoration: underline;
  color: white;
}

.bacblu h3 {
  color: white;
}

.whatis img:hover {
  transition:transform 1s;
}
.whatis img:hover {
  transform: rotate(360deg);
}

.ipad:hover, .iphone:hover {
  cursor: url("/images/cross.png"), auto;
}

.marsec {
  margin-top: 3em;
}

.ipad, .iphone, .dog {
  margin: 2em;
}

.carousel-indicators .active {
  background-color: #1ABC9C;
}

.carousel-indicators li {
    background-color: #8DDECE;
}

.screenapp img {
  margin-top: 2em;
  margin-bottom: 2em;
}

.pointcarou {
    margin-top: 0;
    margin-bottom: -15px;
}

.ofice h3 {
  font-size: 1.2em;
}

.credit img {
  margin-right: 3em;
  margin-bottom: 3em;
}

#owl-demo .item{
  margin: 3px;
}

#owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-controls .owl-page span {
    background: #1ABC9C;
}
